:root {

    --mycolor: 10.28571429, 100%, 51.96078431%;
    
    /* белый */
    --white: ##FDFDFD;
    --white-hsl: 0, 0%, 99.21568627%
        /* серый */
        --gray: #E4E4E4;
    --lightAccent-hsl: 0, 0%, 89.41176471%;

    /* красный */
    --red: #FF340A;
    --accent-hsl: var(--mycolor);
    --safeLightAccent-hsl: var(--mycolor);
    --safeDarkAccent-hsl: var(--mycolor);

    /* белый2 */
    --white2: #F2F2F2;
    --darkAccent-hsl: 0, 0%, 94.90196078%;

    /* черный */
    --black: #1D1D1D;
    --black-hsl: 0, 0%, 11.37254902%;

    --safeInverseAccent-hsl: 0, 0%, 100%;
    --safeInverseLightAccent-hsl: 0, 0%, 100%;
    --safeInverseDarkAccent-hsl: 0, 0%, 100%;
}